a {
	color: #3e3e3e;
	border-bottom: none !important;
}

.user-container {
  display: inline-block;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  flex-direction: column;
  border-radius: 2px;
  padding: 50px 20px;
  box-shadow: 0 0 10px #aaaaaa;
  vertical-align: middle;
  overflow: hidden;
  height: 400px;
}
.user-container.big {
  background-color: #eeeeee;
  width: calc(80% - 20px);
}
.user-container.small {
  width: calc(10% - 20px);
  padding: 20px;
  box-shadow: 0 0 10px transparent;
}
.user-container.small .user-link {
  display: none;
}
.user-container.small .user-picture {
	width: 100%;
	max-width: 200px;
	height: auto;
}

.user-main-container {
	width: 100%;
	height: 100%;
	float: left;
}
.user-main-container.active {
	width: calc(100% * 33 / 80 - 20px);
}
.user-details-container {
	width: 0;
	height: 0;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}
.user-details-container.active {
	width: calc(100% * 47 / 80);
	height: 100%;
	margin-left: 20px;
}
.user-details-container .user-link {
	padding-bottom: 20px;
	margin-top: 0;
}
.user-picture {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 0.5em;
  margin: 0 auto;
  border: #3e3e3e .2em solid;
}

.user-info {

}

.user-link {
  font-family: monospace;
  font-size: 2em;
  display: block;
  text-align: center;
  margin-top: 50px;
}
